
* {
  margin: 0 ;
  padding: 0 ;
}

body{
background-color:#fffbca;
}

@font-face {
  font-family: 'HSSanTokki20-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


#wrapper {
  width: 1320px;
  margin: 50px auto;
  text-align: center;
}

#wrapper h1 {
  font-family: 'HSSanTokki20-Regular';
  font-size: 30px;
}

/* 영상으로 소개 */
#wrapper video {
  width: 100%;
  padding-top: 50px;
}

/* 이미지로 소개 */
#wrapper img{
  margin: 20px auto;
  display: block;
}


/* 반응형 */
@media (max-width:1320px) {
  #wrapper {
      padding-top: 30px;
      width: 100%;
      margin: 30px auto;
      position: relative;
      height: 0;
      padding-bottom: 80%;
      font-size: 35px;
  }

  #wrapper h1 {
      font-size: 20px;
  }

  #wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }

  #img_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  #img_wrap>img {
    width: 100%;
    height: 80%;
  }
}


/* 왼쪽 버튼 */
.fixed{
  position: fixed;
  right:100px;
  bottom:100px;
}

.fixed:hover{
  opacity:0.8;
}

.fixed2{
  position: fixed;
  right:100px;
  bottom:40px;
}

.fixed2:hover{
  opacity:0.8;
}


/* 스크롤바 */
body::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}

/* 스크롤바 막대 꾸미기 */
body::-webkit-scrollbar-thumb {
  background: #ffd900;
  border-radius: 10px;
}

/* 스크롤바 트랙 꾸미기 */
body::-webkit-scrollbar-track {
  background: #ffd90052;
  border-radius: 12px;
}



/* 마우스 포인터 */
* {
  cursor: url(../image/cursor.png) 2 2, auto;
}

*:active {
  cursor: url(../image/cursor.png)2 2,auto;
}